/* header-start */
.div{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.white-color{
  color: white;
}

.bi-facebook{
  background-color: white;
  border-radius: 100%;
}

.bi-whatsapp{
  background-color: green;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.logo-img{
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

.email{
  background-color: red;
  color: white;
  border-radius: 50%;
}

.company-name{
  height: max-content;
}

.dropdown-toggle{
  margin-left: 20px;
}

@media (max-width:500px){
  .logo-img{
    margin-left: 35%;
  }

  .company-name{
    margin-left: 10%;
  }
}

@media (max-width : 350px){
  .company-name{
    margin-left: 1%;
  }
}

.bg-black{
  background-color: black;
}

.contact{
  color: white;
  text-decoration: none;
}

/* header-end */



/* main-div-start */
.main-container{
  display: grid;
  grid-template-columns: 1% 98% 1%;
  grid-template-areas: "sidebar-1 center sidebar-2";
  background-color:black;
}

@media (max-width:767px) {
  .main-container{
      display: grid;
      grid-template-columns: 0% 100% 0%;
      grid-template-areas: "sidebar-1 center sidebar-2";
      background-color: black;
  }
  
}

.main-div{
  height: auto;
  width: 100%;
}

.main-div1{
  grid-area: sidebar-1;
}

.main-div2{
  grid-area: center;
}

.main-div3{
  grid-area: sidebar-2;
}

#arrow {
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 9999;
  background-color: black;
  border-radius: 50%;
}

#arrow.hidden{
  display: none;
}

#arrow:hover{
  cursor: pointer;
}

/* footer  */
#footer{
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-div1{
  margin-top: 50px;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

.footer-div1 img{
  height: 250px;
  width: 250px;
  margin: 20px 0px;
}

.contact-details{
  text-decoration: underline;
}

.footer-div2{
  margin-top: 50px;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.user-data input{
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  background-color: black;
  margin-top: 20px;
  font-size: 30px;
  color: white;
  padding: 10px;
}

.user-data input:focus{
  background-color: black;
}

label{
  font-size: 30px;
  margin-top: 20px;
  color: white;
  margin-left: 10px;
}

#comment{
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;
}

.submit{
  /* border: none; */
  outline: auto;
  font-size: 30px;
  background-color: black;
  color: white;
  margin-top: 20px;;
  margin-left: 20px;
}

@media screen and (max-width:1024px){
  footer{
    flex-direction: column;
    gap: 40px;
  }

  .footer-div1,.footer-div2{
    width: 95%;
  }
}

@media screen and (max-width:500px){
  .user-data input{
    font-size: 20px;
  }
}

.footer-div3{
  height: auto;
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}